@import "../../themes.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
  font-family: $test-font;

  /* height: 91vh;
  background-image: url("../../assets/trianglify-lowres.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten; */
}

/* aboutMe */
.aboutMe {
  color: $primary-color;
  width: 50%;
  padding-right: 50px;
  padding-left: 15px;
  text-align: left;
  border-left: 2px $accent-color dotted;
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  font-size: 0.9em;

  background-color: $div-bg-color;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0, 0.8);
}

.aboutMe h1 {
  color: $accent-color;
  font-family: $test-font;
  letter-spacing: -2px;
  word-spacing: 5px;
}

.aboutMe h2 {
  color: $accent-color;
  font-family: Sacramento;
  font-size: 2.3em;
  line-height: 1px;
  margin-bottom: 1px;
  padding-left: 15px;
}

.aboutMe p {
  width: 90%;
}

.aboutMe li {
}

.aboutMe li::before {
  content: "\21AC";
  margin: 0px 0.3em;
  color: $accent-color;
  font-size: 1.3em;
}

.aboutMe ul {
  margin-left: -35px;
  margin-top: 5px;
  list-style-type: none;
  -webkit-columns: 3;
}

/* pic  */

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  margin-left: -5em;
  border-radius: 50%;
  // -webkit-box-shadow: 0 8px 6px -6px #999;
  // -moz-box-shadow: 0 8px 6px -6px #999;
  // box-shadow: 0 8px 6px -6px rgb(0, 0, 0, 0.5);
  border: 2px solid transparent;
  opacity: 100%;
}

.pic img:hover::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  border: 2px solid transparent;
  border-top: 2px solid $accent-color;
  border-right: 2px solid $accent-color;
  border-radius: 50%;
  opacity: 100%;

  // tra
  // transition:  2s;
  // transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);

  // animation-name: spinning-circle;
  // animation-duration: 20s;
  // animation-iteration-count: infinite;
}

@keyframes spinning-circle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* reading section uwu */

.readingSectionHeader {
  color: $accent-color;
  padding: 50px 0px 25px 0px;
  font-family: $main-font;
  font-stretch: wider;
  font-variant: small-caps;
}

.readingSectionHeader h3::before,
.readingSectionHeader h3::after {
  color: $primary-color;
  font-size: 0.7em;
  content: "\22EF\22EF\22EF\22EF\22EF\22EF\22EF\22EF\22EF\22EF\22EF\22EF";
  margin: 5px;
}

.readingSection {
  margin-right: 20%;
  margin-left: 20%;
  /* border-left: 2px black dotted; */
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  display: flex;
  flex: 1;
  flex-flow: wrap row;
  height: 400px;
}

.bookDiv {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
