@import "../../themes.scss";

.fab {
  color: $primary-color;
  font-size: 25px;
  padding: 5px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: Montserrat;
  font-size: 0.8em;
}

.fas {
  font-size: 1em;
  color: $primary-color;
  padding-left: 2px;
}
